<!DOCTYPE html>
<html>
    <head>
        <title> Admin Login Screen </title>
        
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>
                $(document).ready(function() {
                
                
                    $("#loginBtn").on("click", function(){
                        
                        //alert("works!");
                        
                        $.ajax({
                        
                              method: "POST",
                                 url: "/loginProcess",
                            dataType: "JSON",
                                data: { "username":$("#username").val(),
                                        "password":$("#password").val() },
                             success: function(result,status) {
                                //alert(result);
                                if (!result) {
                                    
                                    alert("Wrong credentials!");
                                    
                                } else {
                                    
                                    location.href = "/admin"; //redirects to admin route
                                    
                                }
                            }
                            
                        });//ajax
                        
                    });//click
                
                }); //document.ready
        
        </script>
        
    </head>
    <body>
        <nav class="text-center">
            <br>
            <a href="/"><strong>Home</strong></a>
            <a href="/search"><strong>Search</strong></a>
            <a href="/cart"><strong>Cart</strong></a>
            <a href="/login"><strong>Login</strong></a>
        </nav>
        <h1 class="text-center"> Admin Login </h1>
        
        <div class="text-center">
            <br>
            Username: <input type="text" name="username" id="username" /><br>
    
            Password: <input type="password" id="password"><br>
            <br>
            <button class="text-center" id="loginBtn">Login!</button>
        </div>
        
        <link href="/css/styles.css" rel="stylesheet" />
    </body>
</html>