<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>

        <h1> Adding a New Planet </h1>
        

        <form method="POST">
        
            Name: <input type="text" name="firstName"><br>    
            <!--Gender: <input type="radio" name="gender" value="F">Female
                    <input type="radio" name="gender" value="M">Male -->
            <!--TODO: Add the remaining fields -->
            <br>
            Biography: <textarea name="biography" cols="50" height="20"></textarea>
            <br><br>
            <button>Add Planet</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>