<!DOCTYPE html>
<html>
    <head>
        <title> Planetary Market </title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
    </head>
    <body>
        <nav class="text-center">
            <br>
            <a href="/"><strong>Home</strong></a>
            <a href="/search"><strong>Search</strong></a>
            <a href="/cart"><strong>Cart</strong></a>
            <a href="/login"><strong>Login</strong></a>
        </nav>
        <h1 class="text-center"> Search </h1>


        <!-- search stuff-->
        <form class="text-center" action="/results" >
            <br>
            Keyword: <input type="text" name="keyword"><br>
            
            <br><button> Search! </button>

        </form>
    </body>
</html>