<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>

        <h1> Updating Planet </h1>
        

        <form method="POST">
        
            Name: <input type="text" name="name"
                        value="<%= planetInfo.name %>"><br>    
                        
            Price: <input type="number" name="price"
                        value="<%= planetInfo.price %>"><br>
            
            
            <br><br>
            <button>Update Planet</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>